.git
.github
.vscode
node_modules
.output
dist
dist-ssr
.nitro
.tanstack
.vinxi
.wrangler
__unconfig*

.env
.env.*
*.local

README.md
AGENTS.md
.coderabbit.yaml
.cta.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-error.log*

.DS_Store
